{% extends 'index.html' %}

{% block titulo %}
    Sistema
{% endblock %}

{% block content %}

<h1 class="bg-primary fw-light text-uppercase text-white text-center">Sistema de Gerenciamento de Monografias</h1>

<div class="row gap-3 mx-auto my-5 container">

    <div class="btn-group col">
        <button class="btn btn-secondary btn-lg dropdown-toggle fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Cadastrar
        </button>
        <ul class="dropdown-menu fs-3">
            <li><a class="dropdown-item" href="/autor/cadastrar/">Autor</a></li>
            <li><a class="dropdown-item" href="/orientador/cadastrar/">Orientador</a></li>
            <li><a class="dropdown-item" href="/coorientador/cadastrar/">Coorientador</a></li>
            <li><a class="dropdown-item" href="/monografia/cadastrar/">Monografia</a></li>
        </ul>
    </div>

    <div class="btn-group col">
        <button class="btn btn-secondary btn-lg dropdown-toggle fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Alterar
        </button>
        <ul class="dropdown-menu fs-3">
            <li><a class="dropdown-item" href="#">Autor</a></li>
            <li><a class="dropdown-item" href="#">Orientador</a></li>
            <li><a class="dropdown-item" href="#">Coorientador</a></li>
            <li><a class="dropdown-item" href="#">Monografia</a></li>
        </ul>
    </div>

    <div class="btn-group col">
        <button class="btn btn-secondary btn-lg dropdown-toggle fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Buscar
        </button>
        <ul class="dropdown-menu fs-3">
            <li><a class="dropdown-item" href="/monografia/buscar">Monografia</a></li>
        </ul>
    </div>

</div>



{% endblock %}